{extend name="../application/manager/view/public/base.html" /}

{block name="body"}
<div class="col-md-12 col-sm-12">
    
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-social-dribbble font-purple-soft"></i>
                <span class="caption-subject font-purple-soft bold uppercase">系统设置-删除</span>
            </div>
        </div>
        <div class="portlet-body">

            <div class="col-xs-12 np" style="margin-bottom:10px;">
                <a href="javascript:history.go(-1);" class="btn default">
                    <i class="fa fa-angle-left"></i> 返回
                </a>&nbsp;&nbsp;
                <a href="javascript:history.go(-1);" class="btn default" style="float:right;">
                    <i class="fa fa-angle-left"></i> 返回
                </a>&nbsp;&nbsp;
            </div>

            <!-- 选项卡标签部分 开始 ↓ -->
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#tab_1_1" data-toggle="tab"> 删除 </a>
                </li>
                <!-- <li>
                    <a href="#tab_1_2" data-toggle="tab"> 自定义 </a>
                </li> -->
            </ul>
            <!-- 选项卡标签部分 结束 ↑ -->

            <!-- 表单部分 开始 ↓ -->
            <form class="form-horizontal" role="form" action="/manager/Index/setting_del" method="post" data-jump="0" data-modal="0" data-refresh="0" data-del-pretable="setting">
                <div class="tab-content">

                    <!-- 选项卡内容区1 开始 ↓ -->
                    <div class="tab-pane fade active in" id="tab_1_1">
                        <div class="form-body">

                            <div class="table-scrollable">
                                <table class="table table-striped table-bordered table-hover dt-responsive table-condensed flip-content data_table_style data_table">
                                    <thead class="flip-content">
                                        <tr class="success">
                                            {volist name="datas" id="vo"}
                                                <th title="{$vo.COLUMN_COMMENT}">{$vo.COLUMN_NAME}</th>
                                            {/volist}
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {volist name="list" id="vo"}
                                            <tr data-row-id="{$vo.id}">
                                                {volist name="vo" id="vo2"}
                                                    <td>{$vo2}</td>
                                                {/volist}
                                                <td>
                                                    {if condition="$vo.type!=1"}
                                                        <a href="javascript:;" class="btn red ajax_del">
                                                            <i class="fa fa-trash"></i> 删除
                                                        </a>
                                                    {else /}
                                                        &nbsp;
                                                    {/if}
                                                </td>
                                            </tr>
                                        {/volist}
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                    <!-- 选项卡内容区1 结束 ↑ -->
                
                    <!-- 选项卡内容区2 开始 ↓ -->
                    <!--<div class="tab-pane fade" id="tab_1_2">
                        
                        

                    </div>-->
                    <!-- 选项卡内容区2 结束 ↑ -->

                </div>
            </form>
            <!-- 表单部分 结束 ↑ -->
            
        </div>
    </div>

</div>
{/block}